{% extends 'AdminTemplateBundle::base2.html.twig' %}
{% block title %}Login{% endblock %}

{% block body -%}
<form class="form-signin" method="POST" action="{{ path('login_check') }}">
    <h2 class="form-signin-heading">sign in now</h2>
    {% if error %}
    <div class="alert alert-block alert-danger fade in">
        </button>
        <strong>Oh snap!</strong> {{ error.message }}.
    </div>
    {% endif %}
    <div class="login-wrap">
        <input type="text" class="form-control" placeholder="Username" name="_username" autofocus value="{{ last_username }}">
        <input type="password" class="form-control" name="_password" placeholder="Password">
        <button class="btn btn-lg btn-login btn-block" type="submit">Sign in</button>
    </div>
</form>
{% endblock %}