<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!-- saved from url=(0050)http://localhost/carols/content/booking_step_4.php -->
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Megalectric | e-mail</title>

        <style type="text/css">
            <!--
            body {
                background-color: #CCC;
            }
            -->
        </style></head>
    <body>
        <table width="90%" border="0" align="center" cellpadding="5" cellspacing="5" bgcolor='#e8edf3' id="backgroundTable" 
               style="font:14px/21px Arial,Helvetica,sans-serif; background:#FFF; color:#F60;">
            <tbody>
                <tr>
                    <td align="center" style="border-bottom:1px dotted silver"> <img src="http://megalectric.com//bundles/fe/images/logo.jpg" /> </td>
                </tr>
                <tr>
                    <td align="center" valign="top"> Name::{{ name }}<br/>
                        Mobile::{{ mobile }} <br/>
                        Email::{{ email }} <br/>
                        Messsage::{{ message }}</td>
                </tr>
            </tbody>
        </table>
        <!-- End of wrapper table -->
    </body>
</html>